stages: [check, build, package, test]   # ← test 삭제

build:
  stage: build
  tags: [acc]
  image: eclipse-temurin:21-jdk
  before_script:
    - export GRADLE_USER_HOME="$CI_PROJECT_DIR/.gradle"
    - chmod +x gradlew
  script:
    - ./gradlew --no-daemon clean build -x test   # ← 테스트 제외
  artifacts:
    when: always
    paths:
      - build/libs/
    expire_in: 7 days
test:
  stage: test
  tags: [acc]
  image: eclipse-temurin:21-jdk
  when: manual          # ← 수동 실행
  allow_failure: true   # ← 눌러서 실패해도 파이프라인은 통과
  script:
    - ./gradlew --no-daemon test jacocoTestReport
