<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <springProperty scope="context" name="LOKI_URL" source="logging.loki.url" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %clr(%-5level) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%logger{36}){cyan} : %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <http>
            <url>${LOKI_URL}</url>
        </http>
        <format>
            <label>
                <pattern>app=ACC-Backend,host=${HOSTNAME},level=%level</pattern>
            </label>
            <message class="net.logstash.logback.layout.LoggingEventCompositeJsonLayout">
                <providers>
                    <timestamp>
                        <fieldName>timestamp</fieldName>
                        <timeZone>KST</timeZone>
                        <pattern>yyyy-MM-dd'T'HH:mm:ss.SSSZ</pattern>
                    </timestamp>
                    <logLevel>
                        <fieldName>level</fieldName>
                    </logLevel>
                    <loggerName>
                        <fieldName>logger</fieldName>
                    </loggerName>
                    <threadName>
                        <fieldName>thread</fieldName>
                    </threadName>
                    <message>
                        <fieldName>message</fieldName>
                    </message>
                    <pattern>
                        <pattern>
                            {
                                "type": "%mdc{type:-INTERNAL}"
                            }
                        </pattern>
                    </pattern>
                    <mdc>
                        <excludeMdcKeyName>type</excludeMdcKeyName>
                    </mdc>
                    <arguments/>
                    <stackTrace>
                        <fieldName>stackTrace</fieldName>
                    </stackTrace>
                </providers>
            </message>
            <sortByTime>true</sortByTime>
        </format>
    </appender>

    <springProfile name="!logging">
        <root level="DEBUG">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
    <springProfile name="logging">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="LOKI"/>
        </root>
    </springProfile>
</configuration>
